<div class="marco">
  <img src="../../../assets/icon/Palacio_Duoc.jpg" alt="Palacio Duoc" class="fullscreen-image">

  <!-- Correo ahora es solo un input sin ngModel ya que es un campo único para cada usuario -->
  <ion-item>
    <ion-input type="text" [(ngModel)]="nuevoUsuario.correo" label="Correo" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="nuevoUsuario.nombre" label="Nombre" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="nuevoUsuario.apellido" label="Apellidos" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="nuevoUsuario.preguntaSecreta" label="Pregunta secreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="nuevoUsuario.respuestaSecreta" label="Respuesta secreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="nuevoUsuario.password" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="repeticionPassword" label="Repetir contraseña" labelPlacement="floating"></ion-input>
  </ion-item> 

  <br>
  <div class="centrar-boton">
    <!-- Cambia el texto del botón y el método que se llama -->
    <ion-button (click)="registrarUsuario()">
      Registrarse
    </ion-button>
  </div>

</div>
