.alinear-centro {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.alinear-derecha {
  text-align: right;
}

.fullscreen-image {
  position: fixed; /* Fija la imagen en la pantalla */
  top: 0;
  left: 0;
  width: 100%; /* Ancho completo de la pantalla */
  height: 100%; /* Altura completa de la pantalla */
  object-fit: cover; /* Escalar y recortar la imagen para ajustarse a la pantalla */
  z-index: -1; /* Colocar la imagen detrás del contenido */
}
/* Estilo del contenedor del logo */

.duoc-logo-container {
  text-align: center; /* Centra el logo horizontalmente */
  margin-top: 20px; /* Espacio superior para separar del título */
  margin-left: 45px; /* Ajusta el margen izquierdo según tu preferencia */
}

.sin-bordes-1{
  width: 400px;
  text-align: center;
  margin: 0 auto;
  height: 50px;

}




.publicaciones-recientes {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  width: auto !important; /* Añade esto para asegurarte de que el ancho se ajuste automáticamente */
}

.sin-bordes{
  width: 300px;
  text-align: center;
  margin: 0 auto;


}

