<ion-content class="login-container">
  <div class="duoc-logo-container">
    <img src="../../../assets/icon/DuocLogo.png" alt="Duoc logo" class="duoc-logo">
  </div>
  <!-- Agrega el mensaje aquí -->
  <p class="mensaje">Sistema de Asistencia Duoc UC</p>
  <p class="Bienvenido">¡Bienvenido!</p>
  <img src="../../../assets/icon/Palacio_Duoc.jpg" alt="Palacio Duoc" class="fullscreen-image">
  <div class="login-form">
    <ion-card>
      <ion-card-header>
        Recuperar Contraseña
      </ion-card-header>
      
      <ion-card-content>
        <ion-card-content class=" paso_2">
          <p>Paso 2: Responde la pregunta secreta</p>
        </ion-card-content>
        <ion-card-content class="nombre"> 
        <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
        </ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="respuestaUsuario" name="Pregunta" label={{usuario.preguntaSecreta}} labelPlacement="floating" type="text" placeholder="Escriba aqui su respuesta" ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="block" (click)="redirigir()">Recuperar Contraseña</ion-button>
          </ion-col>
        </ion-row>
        <ion-label class="recuperar-contrasena">
          <br>
          <a routerLink="/ingreso">Iniciar Sesion</a>
        </ion-label>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>