<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/icon/Banner.jpg" alt="Banner duoc" class="fullscreen-image">
    <ion-buttons slot="start">
      <img src="../../../assets/icon/DuocLogo.png" alt="Logo Institución" class="logo">
    </ion-buttons>
    <ion-title class="asistencia" #titulo >
      <ion-label class="asistencia-label">Sistema de Asistencia DUOC</ion-label>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <img src="../../../assets/icon/Banner.jpg" alt="Banner duoc" class="fullscreen-image">
    <ion-segment [(ngModel)]="componente_actual"  (ngModelChange)="cambiarComponente($event)">
    
      
      <ion-segment-button value="qr">
        <ion-label class = button-label>QR</ion-label>
      </ion-segment-button>

      <ion-segment-button value="miclase">
        <ion-label class = button-label>Mi clase</ion-label>
      </ion-segment-button>

      <ion-segment-button value="foro">
        <ion-label class = button-label>Foro</ion-label>
      </ion-segment-button>

      <ion-segment-button value="misdatos">
        <ion-label class = button-label>Mis datos</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>

  <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>

  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>

  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>
