<div class="marco">
  <img src="../../../assets/icon/Palacio_Duoc.jpg" alt="Palacio Duoc" class="fullscreen-image">

  <ion-item id="Correo">
    <ion-input type="text" [(ngModel)]="usuario.correo" label="Correo" labelPlacement="floating" disabled="true"></ion-input>
  </ion-item>

  <ion-item id="Nombre">
    <ion-input type="text" [(ngModel)]="usuario.nombre" label="Nombre" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item id="Apellido">
    <ion-input type="text" [(ngModel)]="usuario.apellido" label="Apellidos" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item id="Pregusta">
    <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta" label="Pregunta secreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item id="Respuesta">
    <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta" label="Respuesta secreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item id="Contraseña">
    <ion-input type="password" [(ngModel)]="usuario.password" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item id="RContraseña">
    <ion-input type="password" [(ngModel)]="repeticionPassword" label="Repetir contraseña" labelPlacement="floating"></ion-input>
  </ion-item>

  <br>
  <div class="centrar-boton">
    <ion-button (click)="actualizarPerfil()">
      Actualizar mis datos
    </ion-button>
  </div>

</div>