
<ion-content class="page-content">
  <div class="logo-container">
    <img src="../../../assets/icon/DuocLogo.png" alt="Logo" class="logo">
    <img src="../../../assets/icon/Palacio_Duoc.jpg" alt="Palacio Duoc" class="fullscreen-image">
  </div>

  <div class="message">
    <div class="message">
      <p class="correcto">¡¡¡Lo sentimos pero los datos ingresados son incorrectos!!!</p>
      <p class="mensaje">Sistema de Asistencia DUOC</p>
    </div>
  </div>

  <div class="image-container">
    <img src="../../../assets/icon/El_mismo_joven_pero_pa_abajo.jpg" alt="Imagen centrada" class="centered-image">
  </div>

  <ion-label class="login-link">
    <ion-label class="recuperar-contrasena"></ion-label>
        <ion-button shape="block" (click)="volver()">Volver</ion-button>
  </ion-label>
</ion-content>