
<ion-content class="page-content">
  <div class="logo-container">
    <img src="../../../assets/icon/DuocLogo.png" alt="Logo" class="logo">
    <img src="../../../assets/icon/Palacio_Duoc.jpg" alt="Palacio Duoc" class="fullscreen-image">
  </div>

  <div class="message">
    <div class="message">
      <p class="correcto">¡¡¡Lo sentimos pero los datos ingresados son incorrectos!!!</p>
      <p class="mensaje">Sistema de Asistencia DUOC</p>
    </div>
  </div>

  <ion-row class="image-container">
    <ion-col size="12" size-md="6" offset-md="3" class="ion-text-center">
      <img src="../../../assets/icon/El_mismo_joven_pero_pa_abajo.jpg" alt="Imagen centrada" class="centered-image larger-image">
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col size="12" size-md="6" offset-md="3">
      <ion-button shape="block" (click)="volver()">Volver</ion-button>
    </ion-col>
  </ion-row>
</ion-content>