<ion-content class="login-container">
  <div class="duoc-logo-container">
    <img src="../../../assets/icon/DuocLogo.png" alt="Duoc logo" class="duoc-logo">
  </div>
  <!-- Agrega el mensaje aquí -->
  <p class="mensaje">Sistema de Asistencia Duoc UC</p>
  <p class="Bienvenido">¡Bienvenido!</p>
  <img src="../../../assets/icon/Palacio_Duoc.jpg" alt="Palacio Duoc" class="fullscreen-image">
  <div class="login-form">
    <ion-card>
      <ion-card-header>
        Recuperar Contraseña
      </ion-card-header>
      
      <ion-card-content>
        <ion-card-content class=" paso_1">
          <p class="center-text">Paso 1: Ingresa Tu Correo</p>
        </ion-card-content>
        <ion-item>
          <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" placeholder="Ingrese su correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="block" (click)="ingresar()" >Recuperar Contraseña</ion-button>
          </ion-col>
        </ion-row>
        <ion-label class="recuperar-contrasena"></ion-label>
          <ion-button shape="block" (click)="iniciarSesion()">Volver</ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>