<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia DUOC</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5">
        <a class="navbar-brand" href="#">
            <img src="static/img/Google_logo.png" alt="Play Store Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Juegos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Películas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Libros e Infantiles</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="tipo-navegador"></div>

    <div id="app-title" class="text-center mt-3">
        <h1>Aplicacion Asistencia DUOC</h1>
        <p class="lead">Inicia sesión con tus credenciales para acceder a asistencia en tiempo real. Participa en nuestros foros donde puedes solicitar ayuda a estudiantes y recibir respuestas rápidas. Nuestra plataforma facilita la interacción entre miembros, fomentando un ambiente colaborativo y de aprendizaje mutuo. ¡Únete a nuestra comunidad educativa y aprovecha al máximo tus recursos para alcanzar tus metas académicas!
        </p>
        <div>
            <img src="static/img/1.jpg" alt="">
        </div>
        <div>
            <img src="static/img/2.jpg" alt="">
        </div>
        <div>
            <img src="static/img/3.jpg" alt="">
        </div>
        <div>
            <img src="static/img/png.png" alt="">
        </div>
    </div>

    <!-- Contenedor adicional fuera del body para el código QR -->
    <div id="qr-container" class="text-center">
        <div id="qrcode" class="qr"></div>
    </div>

    <!-- Contenedor para las imágenes -->

    <!-- Resto del código -->

    <script src="/static/javascript/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "{{ url_servidor }}");
    </script>
    
</body>
</html>
