<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asistencia DUOC - Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrado-vertical">
    <div class="marco">
      <ion-item>
        <ion-input [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>
      <div class="alinear-centro">
        <ion-button (click)="ingresar()">
          Ingresar
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>
